.x {
  display: flex;
  visibility: hidden;

  .sm {
    width: 0.5rem;
  }

  .md {
    width: 1rem;
  }

  .lg {
    width: 2rem;
  }
}

.y {
  display: flex;
  visibility: hidden;

  &.sm {
    height: 8px;
  }

  &.md {
    height: 16px;
  }

  &.lg {
    height: 32px;
  }
}
