.x {
  display: flex;
  visibility: hidden;

  &.sm {
    width: 0.5rem;
  }

  &.md {
    width: 1rem;
  }

  &.lg {
    width: 2rem;
  }

  &.xl {
    width: 3rem;
  }
}

.y {
  display: flex;
  visibility: hidden;

  &.sm {
    height: 0.5rem;
  }

  &.md {
    height: 1rem;
  }

  &.lg {
    height: 2rem;
  }

  &.xl {
    height: 3rem;
  }
}
