.research,
.content {
  display: flex;
  flex-direction: column;
}

.image {
  position: relative;
  height: 320px;
  aspect-ratio: 1/1;
  border-radius: 0.25rem;
  overflow: hidden;
  margin-bottom: 0.5rem;

  img {
    object-fit: cover;
  }
}
