@use '@/styles/color';

.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(color.$white, 0.5);
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  margin-top: -10%;
  transition:
    opacity 0.2s ease-out,
    visibility 0.2s ease-out,
    margin-top 0.2s ease-out;

  &.open {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
  }
}
