@use '@/styles/color';

.header {
  width: 100%;
  height: 120px;
  z-index: 10;
  background-color: color.$white;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1366px;
  margin: auto;
  padding-left: 2rem;
}

.sectionsBg {
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 180px;

  background-color: color.$white;
  border-top: 1px solid color.$light;
  z-index: 0;
}

.hidden {
  visibility: hidden;
}

.hidden.animate {
  animation: fadeOut 0.5s forwards;
  pointer-events: none;
  border: none;
}

@keyframes fadeOut {
  from {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 0;
    transform: translateY(-10%);
    visibility: hidden;
  }
}
